<form method="POST" action="http://formspree.io/sensei.jauch@gmail.com" class="contact-form">
  <h4>Contact us:</h4>
  <p class="contact-area contact-type-area">
    <span>Please contact me by </span>
    <select id="contact-type">
      <option value="phone">Phone</option>
      <option value="email">Email</option>
      <option value="text">Text</option>
    </select>
  </p>
  <p class="contact-area contact-name-area">
    <span>My name is </span>
    <input type="text" id="contact-name">
  </p>
  <p class="contact-area contact-phone-area">
    <span>My phone number is </span>
    <input type="text" id="contact-phone">
  </p>
  <p class="contact-area contact-email-area">
    <span>My email is </span>
    <input type="email" id="contact-email">
  </p>
  <p class="contact-area contact-information-area">
    <span>Comments:</span>
    <textarea id="contact-information" placeholder="Tell us about yourself / your child, ask anything you like."></textarea>
  </p>
  <button class="btn submit-btn">Send <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
  <p class="contact-area contact-page-area hide">
    <span id="page-origin"></span>
  </p>
</form>
