<head>
	<meta charset="utf-8">
	<!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
	<link rel="canonical" href="{{ page.url | prepend:site.url }}" />
	<link rel="shortlink" href="{{ page.url | prepend:site.url }}" />
	<meta name="robots" content="follow, index" />
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="keywords" content="{% if page.tags %}{{ page.tags | join: ', ' | escape }}{% else %}{{ site.keywords }}{% endif %}"/>
	<meta name="google-site-verification" content="B7sNiJPxLSv5BgVhWJiO-5te2mDHFXc6dJBpcAdB0as" />
	<!-- Open Graph -->
	<meta property="og:url" content="{{ page.url | prepend:site.url }}" />
	<meta property="og:site_name" content="{{ site.title }}" />
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
	{% if page.path contains '_posts' %}<link rel="alternate" type="application/atom+xml" title="{{ site.title }} Blog" href="/atom.xml" />{% endif %}
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" media="screen" />
	<link rel="stylesheet" href="/assets/css/style.css" media="screen" />
	<link rel="stylesheet" href="/assets/css/colorbox.css">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,400,400i,700|Shojumaru" rel="stylesheet">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script>window.Modernizr || document.write('<script src="/assets/js/prod/modernizr-2.8.3.min.js"><\/script>')</script>

	<!-- Apple Touch, Fav Icon, and Windows Tile -->
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/fav/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/fav/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/fav/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/fav/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/fav/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/fav/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/fav/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/fav/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/fav/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/fav/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/fav/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/images/fav/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/fav/favicon-16x16.png">
	<link rel="manifest" href="/assets/images/fav/manifest.json">
	<meta name="msapplication-TileColor" content="#940101">
	<meta name="msapplication-TileImage" content="/assets/images/fav/ms-icon-144x144.png">
	<meta name="theme-color" content="#940101">

	<!-- HTML 5 Shiv -->
	<!--[if lt IE 9]> <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script> <![endif]-->

	{% if site.google_analytics_tracking_id %}
	  <script>
	    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	    ga('create', '{{ site.google_analytics_tracking_id }}', 'auto');
	    ga('send', 'pageview');
	  </script>
	{% endif %}

	<!-- Begin Jekyll SEO tag v2.3.0 -->
	<title>Installing Jekyll SEO Tag | Jekyll SEO Tag</title>
	<meta property="og:title" content="Installing Jekyll SEO Tag" />
	<meta property="og:locale" content="en_US" />
	<meta name="description" content="A Jekyll plugin to add metadata tags for search engines and social networks to better index and display your site’s content." />
	<meta property="og:description" content="A Jekyll plugin to add metadata tags for search engines and social networks to better index and display your site’s content." />
	<link rel="canonical" href="http://jekyll.github.io/jekyll-seo-tag/installation/" />
	<meta property="og:url" content="http://jekyll.github.io/jekyll-seo-tag/installation/" />
	<meta property="og:site_name" content="Jekyll SEO Tag" />
	<script type="application/ld+json">
	{"name":null,"description":"A Jekyll plugin to add metadata tags for search engines and social networks to better index and display your site’s content.","author":null,"@type":"WebPage","url":"http://jekyll.github.io/jekyll-seo-tag/installation/","image":null,"publisher":null,"headline":"Installing Jekyll SEO Tag","dateModified":null,"datePublished":null,"sameAs":null,"mainEntityOfPage":null,"@context":"http://schema.org"}</script>
	<!-- End Jekyll SEO tag -->
</head>
