<div class="mobile-menu-toggle">
  <span>Menu</span> <i class="fa fa-bars" aria-hidden="true"></i>
</div>
{% assign navurl = page.url | remove: 'index.html' %}
<ul class="menu">
  {% for item in include.nav %}
    <li class="menu-item">
			{% if item.url %}
      	<a href="{{ item.url }}" class="menu-link{% if item.url == navurl %} active{% endif %}">{{ item.text }}</a>
			{% else %}
				<span class="menu-link pseudo-link">{{ item.text }}</span>
			{% endif %}
      {% if item.subitems %}
				{% include subnav.html nav=item.subitems %}
			{% endif %}
    </li>
  {% endfor %}
</ul>
