<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.1/picturefill.min.js"></script>

<script src="/assets/js/prod/script.js"></script>
<script src="/assets/js/prod/jquery.colorbox-min.js"></script>
<script src="/assets/js/prod/scrollreveal.min.js"></script>

{% if page.layout == 'events' %}
  <script src="https://kaizeninternational.zenplanner.com/zenplanner/skin/js/resize.js"></script>
{% endif %}
