<footer class="social">
	<hr>
	<h4>Find us on Social Media:</h4>
	<ul class="social-list">
		<li><a href="{{ site.facebook }}" class="btn"><i class="fa fa-facebook-square" aria-hidden="true"></i> Follow us on Facebook</a></li>
		<li><a href="{{ site.youtube }}" class="btn"><i class="fa fa-youtube-play" aria-hidden="true"></i> Follow us on YouTube</a></li>
	</ul>
	<div class="bbb-seal">
			<a href="https://www.bbb.org/wyoming-and-northern-colorado/business-reviews/martial-arts/kaizen-black-belt-academy-in-fort-collins-co-46095153/#sealclick" target="_blank" rel="nofollow"><img src="http://seal-wynco.bbb.org/seals/blue-seal-250-52-whitetxt-bbb-46095153.png" style="border: 0;" alt="Kaizen Black Belt Academy BBB Business Review" /></a>
	</div>
	<div class="maab-seal">
		<img src="/assets/images/maab.png" alt="MAAB">
	</div>
</footer>
