.login-area {
  display: none;
  form {
    width: calc(100% - 2rem);
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background: linear-gradient(to bottom left, rgba($white, .1), rgba(lighten($red, 10%), .1));
    label {
      font-weight: bold;
    }
    input {
      margin: 1rem 0;
      text-align: center;
      .nope {
        animation: .5s nope;
      }
    }
    &:after {
      content: '';
      clear: both;
      display: table;
    }
  }
  .feedback {
    max-height: 0;
    filter: opacity(0);
    overflow: hidden;
    transition: {
      property: filter, max-height;
      duration: .5s;
      timing-function: $cubic;
    }
    h4 {
      color: lighten($red, 10%);
    }
    &.open {
      max-height: 12rem;
      filter: opacity(1);
    }
  }
}
.hide-not-logged-in {
  display: block;
}
.not-logged-in {
  .login-area {
    display: block;
  }
  .hide-not-logged-in {
    display: none;
  }
}
