.social {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  h4 {
    padding: 0;
  }
  .social-list {
    @include inline-list;
    li {
      margin: 0 .5rem 1rem 0;
    }
  }
  .bbb-seal {
    margin: 0 0 .5rem;
  }
  .maab-seal img {
    max-width: 150px;
    max-height: 150px;
    filter: drop-shadow(.125rem .25rem .5rem $black);
  }
  @include breakpoint($desktop) {
    .maab-seal {
      float: right;
      margin: -6rem -1.5rem -2rem 0;
    }
  }
}
