@keyframes nope {
  0% { transform: translateX(0); }
  25% { transform: translateX(.6rem); }
  50% { transform: translateX(-.5rem); }
  75% { transform: translateX(.35rem); }
  100% { transform: translateX(0); }
}
