// base colors
$black: #000;
$white: #fff;
$blue: #0072c6;

// color palate
$red: #940101;
$orange: #f66000;

// timing functions
$cubic: cubic-bezier(.5, .08, .24, 1);

// breakpoints
$phone: 20em; /* 320/16 */
$phone-large: 26em; /* 416/16 */
$tablet: 48em; /* 768/16 */
$desktop: 75em; /* 1200/16 */
$desktop-large: 112.5em; /* 1800/16 */
