.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: .5rem;
  display: inline-grid;
  z-index: 5;
  background: rgba($black, .5);
  grid-template: {
    columns: 30% 70%;
    areas: "logo menu";
  }
  transition: {
    property: background;
    duration: .5s;
    timing-function: $cubic;
  }
  &.low {
    background: rgba($black, .75);
    .logo-section img {
      max-height: 3.125rem;
      margin-bottom: -3.125rem;
      @include breakpoint($tablet) {
        max-height: 6rem;
        margin-bottom: -6rem;
      }
    }
  }
  .logo-section {
    grid-area: logo;
    img {
      max-height: 6.25rem;
      margin-bottom: -6.25rem;
      //
      filter: drop-shadow(0 0 .25rem $black);
      transition: {
        property: max-height, margin;
        duration: .5s;
        timing-function: $cubic;
      }
      @include breakpoint($tablet) {
        max-height: 8.5rem;
        margin-bottom: -8.5rem;
      }
    }
  }
  @include breakpoint($tablet) {
    grid-template-columns: 250px 1fr;
  }
  @include breakpoint($desktop) {
    grid-template-columns: 250px 1fr;
    padding: .5rem 2rem;
  }
}
