.site-wrap {
  padding: 8rem 0 2rem;
}
main {
  width: calc(100% - 2rem);
  max-width: 80rem;
  margin: 0 auto 2rem;
  padding: 1em;
  background: linear-gradient(to bottom right, lighten($black, 5%), darken($red, 25%));
  box-shadow: 0 0 2rem $black;
  &.front {
    margin: 2rem auto;
    @include breakpoint($tablet) {
      margin: 20rem auto 2rem;
    }
  }
  @include breakpoint($desktop-large) {
    max-width: 100rem;
  }
}
