h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1, h2, h3 {
  text-shadow: 0.05rem 0.05rem $white,
              0.0625em .125rem .25rem rgba($black, .5);
  font-family: 'Shojumaru', cursive;
	font-size: 16px;
  letter-spacing: .125rem;
}
h1 {
  color: lighten($red, 10%);
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-weight: 700;
  padding: .25rem .25rem 0 1rem;
  margin-bottom: .5rem;
}
@include breakpoint ($tablet) {
  h1, h2, h3 {
    letter-spacing: .25rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    font-size: 2.125rem;
  }
}
