body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  font: {
    family: 'Josefin Sans', arial, sans-serif;
    size: 22px;
    weight: 100;
  }
  background: {
    image: linear-gradient(transparent, darken($red, 25%), darken($red, 15%)), url('../images/bg.png');
    color: $black;
    size: 100% auto;
    repeat: no-repeat;
  }
}
* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
div, p {
  color: $white;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 1rem;
  @include breakpoint($tablet) {
    font-size: 1.25rem;
  }
}
.content-area p {
  margin: 0 0 .5rem;
}
::-webkit-scrollbar {
  width: .5rem;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background: rgba($white, .1);
}
::-webkit-scrollbar-thumb {
  background: rgba($red, .4);
}
@include selection {
  color: $white;
  background: lighten($blue, 10%);
  text-shadow: none;
}
