<!DOCTYPE html>
<!--[if lte IE 10]><html class="no-js lte-ie10" lang="en"><![endif]-->
<!--[if gt IE 10]><!--><html class="no-js" lang="en"><!--<![endif]-->
  {% include head.html %}
  {% if page.url == "/" %}
    <body class="not-logged-in front-page">
  {% else %}
    <body class="not-logged-in">
  {% endif %}

    {% include browserupgrade.html %}

    {% include header.html %}
    {% include contact-grabber.html %}
    <div class="site-wrap">{{ content }}</div>
    {% include footer.html %}

    {% include scripts.html %}
  </body>
</html>
