---
layout: default
---

<div class="content-wrapper full-width">
  <main class="wrap">
    <header>
      <h1>{{ page.title }}</h1>
      <h3 class="subtitle">{{ page.subtitle }}</h3>
    </header>
    <section>
    	{{ content }}
      <section class="staff page-content-area">
        {% assign faq = site.faqs | sort: 'order' %}
        {% for item in faq %}
          <figure class="faq-question page-content-item">
            <header class="faq-header page-content-header">
              <h4 class="faq-q">{{ item.title }}</h4>
            </header>
            <p class="description faq-a">{{ item.content }}</p>
          </figure>
        {% endfor %}
      </section>
	  </section>
  </main>
</div>
