---
layout: default
---

<main class="front">
  <header class="page-header">
    <h1>{{ page.title }}</h1>
    <h4 class="subtitle">{{ page.subtitle }}</h4>
  </header>
  <section class="content-area">{{ content }}</section>
  <section class="content-area">
    {% for item in page.boxes %}
      <div class="front-box-wrapper">
        <a href="{{ item.permalink }}">
          <article class="front-display-box">
            <header>
              <h2>{{ item.title }}</h2>
            </header>
            {% if item.video %}
              <iframe width="100%" height="350" src="{{ item.youtube_url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            {% else %}
              {% if item.image_path %}
                <figure>
                  <img src="{{ item.image_path }}" alt="{{ item.title }}">
                  <figcaption><p class="subtitle">{{ item.subtitle }}</p></figcaption>
                </figure>
              {% else %}
                <p class="subtitle">{{ item.subtitle }}</p>
              {% endif %}
            {% endif %}
          </article>
        </a>
      </div>
    {% endfor %}
  </section>
  <hr>
  <header class="page-header">
    <h2>Events:</h2>
  </header>
  <section class="events posts-area page-content-area front-page-articles">
    {% assign posts = site.articles |
        where: 'published', 'true' |
        sort: 'event_date' %}
    {% for post in posts %}
      {% if site.time < post.event_date %}
        <a href="{{ post.permalink }}">
          <article class="post page-content-item floating-image-container">
            <header class="post-header page-content-header">
              <h4 class="post-title">{{ post.title }}</h4>
            </header>
            <p class="description post-description">{{ post.description }}</p>
            {% if post.image_path %}
              <div class="post-image-wrap">
                <img src="{{ post.image_path }}" alt="{{ post.title }}" class="post-image">
              </div>
            {% endif %}
          </article>
        </a>
      {% endif %}
    {% endfor %}
  </section>
  {% include social.html %}
</main>
