---
layout: page
---

<section class="login-area">{% include login.html %}</section>
<div class="hide-not-logged-in">
  <a class="btn member-manage-btn" href="https://kaizeninternational.zenplanner.com/login.cfm" target="_blank">Manage Your Account</a>
  <section class="staff page-content-area">{{ content }}</section>
  <section class="staff page-content-area">
    {% assign memberbox = site.memberboxes | sort: 'order' %}
    {% for item in memberbox %}
      <article class="accordion">
        <header class="accordion-header">
          <h3>{{ item.title }}</h3>
          <i class="fa fa-chevron-down accordion-toggle-btn btn" aria-hidden="true"></i>
        </header>
        <div class="accordion-container information-accordion">
          <p>{{ item.content }}</p>
        </div>
      </article>
    {% endfor %}
    <article class="accordion">
      <header class="accordion-header">
        <h3>Schedules</h3>
        <i class="fa fa-chevron-down accordion-toggle-btn btn" aria-hidden="true"></i>
      </header>
      <div class="accordion-container calendar-accordion">{% include events.html %}</div>
    </article>
  </section>
</div>
