---
layout: page
---

<article class="sub-header">{{ content }}</article>
<section class="staff page-content-area">
  {% assign staff = site.staff | sort: 'order' %}
  {% for item in staff %}
    <figure class="staff-member page-content-item">
      {% if item.image_path %}
        <div class="headshot">
          <img src="{{ item.image_path }}" alt="{{ item.title }}">
        </div>
      {% endif %}
      <figcaption>
        <header class="staff-header page-content-header">
          <h4 class="staff-name">{{ item.title }}</h4>
          <h5 class="staff-title">{{ item.job_title }}</h5>
        </header>
        <p class="bio">{{ item.content }}</p>
      </figcaption>
    </figure>
  {% endfor %}
</section>
